{% extends "livestock/base.html" %}

{% block title %}cart shoping {% endblock %}


<h2>عربة التسوق</h2>
<table>
    <thead>
        <tr>
            <th>المنتج</th>
            <th>السعر</th>
            <th>الكمية</th>
            <th>الإجمالي</th>
            <th>إزالة</th>
        </tr>
    </thead>
    <tbody>
        {% for product_id, item in cart.cart.items %}
        <tr>
            <td>{{ product_id }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.quantity|floatformat:2 }}</td>
            <td>
                <a href="{% url 'cart_remove' product_id %}">إزالة</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>الإجمالي: {{ cart.get_total_price }}$</h3>
